*.log
pnpm-debug.log*
node_modules
dist
.idea
.vscode
.turbo
.DS_Store
.svelte-kit
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/modules
/data
/cache
/.server-crashes-cache
libnodev2.dll
altv-server.exe
altv-crash-handler.exe
libnode.dll